<! DOCTYPE html>

<html lang = "eng">

<head>
    
<title>Harassment Website</title>
    
<link rel="stylesheet" type="text/css" href="myStyle.css">    
    
</head>

<body>
    <div id="logo container">
    
        
        
    </div>
    
    <div id="textContainer">
        
        <h2>45022304</h2>
        <h1>...Incidents of Harassment prevented Since 2017</h1>
        
    </div>
    
    <article>
    <p>Harassment Blocker is a web-browser extension designed to prevent incidents of harassment online through real time scanning of message content and tone. Created as part of StudentHackV, March 2017 in association with #HackHarassment.</p>
    </article>
</body>
</html>
