#element{margin, padding, font, font-size, list-style-type}

body{
    background-color: #C90421;
    font-family: "Arial Black", Gadget, sans-serif;
}

h1{
    margin-left: 30%;
    margin-top: 10%;
    font-size: 200%;
    color: white; 
    
}