#element{margin, padding, font, font-size, list-style-type}

body{
    background-color: #C90421;
    font-family: "Arial Black", Gadget, sans-serif;
    margin: 0px; 
}

h1{
    color: #6A000F; 
    font-size: 200%;
    
}

h2{
    font-size: 1000%;
    color: #6A000F;
    margin-bottom: 0%;
}

article{
    color: #F35167; 
    font-size: 170%;
    font-weight: 50; 
    text-align: center; 
}
#textContainer{
    margin-top: auto; 
    margin: auto; 
    text-align: center;
    
}

#imageContainer{
    position: absolute;
    opacity: 0.1;
    padding-top: 0; 
    margin-top: 0; 
}


